body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(239, 166, 218);
}

.container{
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0, 01);
}

input{
    width: 70%;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    padding: 10px;
    background-color: #dd32a1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #b8639b;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    padding: 10px;
    background: #eeee;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}